<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Albumes por genero
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Albumes por genero</ion-title>
    </ion-toolbar>
  </ion-header>
    <!-- Segment content -->
  <ion-segment [value]="selected" (ionChange)="segmentChanged($event)" mode="md" scrollable>
    <ion-segment-button [value]="category" *ngFor="let category of categorias">
      <ion-label class="ion-text-capitalize">
        {{category}}
      </ion-label>
    </ion-segment-button>
  </ion-segment>
  <app-articles [Albums] = "Album"></app-articles>

</ion-content>
